<h1 mat-dialog-title="" id="mat-dialog-title-6">Expected Calories</h1>

<div mat-dialog-content="">
	<form role="form" (ngSubmit)="onSubmit(caloriesForm)" [formGroup]="caloriesForm"><br>
    	<mat-form-field>
    		<input type="number" matInput placeholder="Expected Calories" formControlName="calories">
    	</mat-form-field>
    </form >
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>