<div class="app-content">
    <h1>Password Recovery</h1>
    <h4>Write your email, we will send instructions</h4>


    <form role="form" (ngSubmit)="onSubmit(recoverForm)" [formGroup]="recoverForm"><br>
    	<mat-form-field class="form-item">
    		<input matInput placeholder="Email" formControlName="email">
    	</mat-form-field>
    	<div>
	    	<button type="submit" mat-raised-button>Send Email</button>
	    </div>
        <div class="form-link">
            <a mat-line [routerLink]="['/login']">Go Back to Sign in</a>
        </div>
    </form >
</div>