<div class="app-content">
    <h1>Password Recovery</h1>
    <h2>Write new password</h2>

    <form role="form" (ngSubmit)="onSubmit(passwordForm)" [formGroup]="passwordForm">
        <div>
        	<mat-form-field class="form-item">
        		<input type="password" matInput placeholder="Password" formControlName="password">
        	</mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<input type="password" matInput placeholder="Confirm Password" formControlName="passwordConfirm">
        	</mat-form-field>
        </div>
    	<button type="submit" mat-raised-button>Submit</button>
    </form >
</div>