<h1  mat-dialog-title="" id="mat-dialog-title-6">{{data.type}} user</h1>

<div mat-dialog-content="">
	<form role="form" (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm"><br>
        <div>
        	<mat-form-field>
        		<input matInput placeholder="Name" formControlName="name">
        	</mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input [readonly]="data.type=='edit'" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field *ngIf="data.type=='add'">
                <input  matInput placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Verified" formControlName="verified">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="selfUserService.isAdmin | async" >
        	<mat-form-field>
        		<mat-select placeholder="Role" formControlName="role">
        			<mat-option [value]="'user'">user</mat-option>
        			<mat-option [value]="'moderator'">moderator</mat-option>
        			<mat-option [value]="'admin'">admin</mat-option>
        		</mat-select>
        	</mat-form-field>
        </div>
    </form >
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>