/* You can add global styles to this file, and also import other style files */
@import "ng-pick-datetime/assets/style/picker.min.css";
@import "normalize.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "angular2-toaster/toaster.css";

body .owl-overlay-container {
	z-index: 10001 !important;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.calories-header {
  font-size: 25px;
}

.example-container {
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.app-content {
  text-align: center;
}

.form-item {
  width: 200px
}

.form-link {
  margin-top: 10px; 
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}