<toaster-container></toaster-container>
<calories-display class="text-center"> </calories-display>

<mat-tab-group>
  <mat-tab label="Meals">
    <meal-filter (dataUpdate)="filter($event)" [showUserInput]="showUserInput"></meal-filter>

    <div class="text-right">
      <button mat-raised-button (click)='openModal("add", null)'>Add Meal</button>
    </div>
    <div class="example-container mat-elevation-z8 ">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- UserId Column -->
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user?.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.datetime | date:'medium'}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="calories">
          <mat-header-cell *matHeaderCellDef> Calories </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.calories}} </mat-cell>
        </ng-container>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <meal-actions (dataUpdate)="refreshTable()" [meal]="element"></meal-actions>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator  #paginator
        (page)="updatePage($event)"
        [length]="dataSource.size | async"
        [pageSize]="pageConfig.size"
        [pageSizeOptions]="pageConfig.options">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Calroies">
    <meal-table></meal-table>
  </mat-tab>
</mat-tab-group>