<form role="form">
	<input name="startDate" readonly="readonly" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" matInput placeholder="Start Date" [(ngModel)]="startDate">
	<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

	<input name="endDate" readonly="readonly" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" matInput placeholder="End Date" [min]="startDate" [(ngModel)]="endDate">
	<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

	<input name="startTime" readonly="readonly" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" matInput placeholder="Start Time" [(ngModel)]="startTime" >
	<owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>

	<input name="endTime" readonly="readonly" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" matInput placeholder="End Time" [min]="startTime" [(ngModel)]="endTime">
	<owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>

	<input *ngIf="showUserInput" name="name" maxlength="100" autocomplete="false" matInput placeholder="Search" [(ngModel)]="name">

	<button mat-raised-button (click) = "filter()">Filter</button>
	<button mat-raised-button (click) = "reset($event)">Reset</button>
</form>