<h1  mat-dialog-title="" id="mat-dialog-title-6">{{data.type}} meal</h1>

<div mat-dialog-content="">
	<form role="form" (ngSubmit)="onSubmit(mealForm)" [formGroup]="mealForm"><br>
    	<div>
            <mat-form-field class="form-item">
        		<input matInput placeholder="Name" formControlName="name">
        	</mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" matInput placeholder="Date" formControlName="datetime" [max]="timeNow">
                <owl-date-time [pickerType]="'both'" #dt></owl-date-time>
        	</mat-form-field>
        </div>
        <div  *ngIf="selfUserService.isAdmin | async">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="user" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<input matInput type="number" placeholder="Calories" formControlName="calories">
        	</mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<textarea matInput placeholder="Text" formControlName="text"></textarea>
        	</mat-form-field>
        </div>
    </form >
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>