<div class="app-content">
    <h1>Welcome to Meal App</h1>
    <h2>Login with your credentials bellow</h2>
    <form role="form" (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
    	<div>
            <mat-form-field class="form-item">
        		<input matInput placeholder="Email" formControlName="email">
        	</mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<input matInput type="password" placeholder="Password" formControlName="password">
        	</mat-form-field>
        </div>
        <div>
    	   <button type="submit" mat-raised-button>Login</button>
        </div>
        <div class="form-link"><a matLine [routerLink]="['/register']">Sign Up</a></div>
        <div class="form-link"><a matLine [routerLink]="['/recover']">Forgot password?</a></div>
    </form >
</div>
