<div class="app-content">
    <h1>Sign Up to Meal App</h1>
    <h4>Write your data bellow</h4>

    <form role="form" (ngSubmit)="onSubmit(signUpForm)" [formGroup]="signUpForm"><br>
        <div>
            <mat-form-field class="form-item">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div>
        	<mat-form-field class="form-item">
        		<input matInput placeholder="Email" formControlName="email">
        	</mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-item">
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-item">
                <input type="password" matInput placeholder="Confirm Password" formControlName="passwordConfirm">
            </mat-form-field>
        </div>
        <div class="form-link">
        	<button type="submit" mat-raised-button>Sign Up</button>
        </div>
        <div class="form-link">
            <a mat-line [routerLink]="['/login']">Sign in</a>
        </div>
    </form >
</div>