<input readonly="readonly" [owlDateTimeTrigger]="dtStart" [owlDateTime]="dtStart" matInput placeholder="Start Date" [(ngModel)]="startDate">
<owl-date-time [pickerType]="'calendar'" #dtStart></owl-date-time>
<input readonly="readonly" [owlDateTimeTrigger]="dtEnd" [owlDateTime]="dtEnd" matInput placeholder="End Date" [(ngModel)]="endDate" [min]="startDate">
<owl-date-time [pickerType]="'calendar'" #dtEnd></owl-date-time>

<button mat-raised-button (click)="filterDate()">Filter</button>
<button mat-raised-button (click)="resetDates()">Reset</button>

<mat-table #table [dataSource]="dataSource">

<!-- Date Column -->
<ng-container matColumnDef="date">
  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element._id | date:'MMM d, y'}} </mat-cell>
</ng-container>

<!-- Calories Column -->
<ng-container matColumnDef="calories">
  <mat-header-cell *matHeaderCellDef> Total Calories </mat-header-cell>
  <mat-cell *matCellDef="let element" class="green" [ngClass]="{red: ((caloriesService.expectedCalories | async)<=element.totalCalories)}"> {{element.totalCalories}}</mat-cell>
</ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator  #paginator
(page)="updatePage($event)"
[length]="dataSource.size | async"
[pageSize]="pageConfig.size"
[pageSizeOptions]="pageConfig.options">
</mat-paginator>