<user-filter (dataUpdate)="filter($event)"></user-filter>
<div class="text-right">
<button mat-raised-button (click)='openModal("add", null)'>Add User</button>
</div>
<toaster-container></toaster-container>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <!-- Verified Column -->
    <ng-container matColumnDef="verified">
      <mat-header-cell *matHeaderCellDef> Verified </mat-header-cell>
      <mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.verified">check</mat-icon> </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        actions
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <user-actions (dataUpdate)="refreshTable()" [user]="element"></user-actions>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator  #paginator
    (page)="updatePage($event)"
  	[length]="dataSource.size | async"
  	[pageSize]="pageConfig.size"
  	[pageSizeOptions]="pageConfig.options">
  </mat-paginator>
</div>