<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Meal App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button></button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
<mat-sidenav #sidenav [mode]="'over'">
  {{user.name}}
  <br/>
  {{user.role}}
  <mat-nav-list>
    <a mat-list-item (click)="sidenav.toggle()" routerLink="/meals">Meals</a>
    <a *ngIf="userService.isModerator | async" mat-list-item (click)="sidenav.toggle()" routerLink="/users">Users</a>
    <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
  </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
	<router-outlet></router-outlet>
	<toaster-container></toaster-container>
</mat-sidenav-content>
</mat-sidenav-container>